#app {
    display: grid;
    grid-template-areas: 'nav header'
                         'nav main';
    grid-template-rows: 111px auto;
    grid-template-columns: 150px auto;
    width: 1120px;
    height: 790px;
    margin: 8px auto;
    font-weight: bold;
}

button:focus {
	outline:0;
	cursor: pointer;
}

body {
    font-family: 'Lucida Grande';
    color: black;
}

/*header*/
header {
    grid-area: header;
    background-color: rgb(216,216,216);
    font-size: 116%;
}

header ul li {
    display: inline;
    width: 20%;
    height: 120px;
    float: left;
}

header li a {
  display: block;
      color: black;
      font-size: 127%;
      text-align: center;
      padding: 4px 16px;
      text-decoration: none;
}

header ul li a.active {
    background-color: rgb(200, 200, 200);
}

header ul li:hover {
    background-color:  rgb(210, 210, 210);
}

.icon {
  width: 55px;
  padding: 6px 10px;
}


/*nav*/
nav {
    grid-area: nav;
    background-color: rgb(216,216,216);
}

.quick-icons img {
    padding: 10px 20px;
    display: block;
    width: 85px;
    background-color: rgb(216,216,216);
}

#horas {
    font-size: 230%;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    padding: 30px 0px 20px 5px;
}

/* header */

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* main */
main {
    grid-area: main;
    background-color: rgb(200,200,200);
    font-size: 39%;
    font-weight: bold;
}

button {
    display: inline-block;
    padding: 0px;
    margin: 15px;
	background-color: rgb(200,200,200);
	border: none;
    font-size: 30px;
    font-family: 'Lucida Grande';
}

main ul {
    list-style-type: none;
}

main ul li {
    padding: 9px 40px;
    width:95%;
    border-bottom: 1px solid rgb(216,216,216);
    margin-left: -35px;
}

main ul li:last-child {
    border-bottom: none;
}

.iconInList {
    width: 40px;
    padding: 0px 20px 0px 0px;
}

.iconInListFim {
    width: 40px;
    float: right;
}
#rota2{
  height: 676px;
  width: 970px;
  overflow: hidden;
}

#rota1{
  height: 676px;
  width: 970px;
  overflow: hidden;
}
